<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <a class="navbar-brand">Angular Router</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="games">Jeux</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="players">Joueurs</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="ranking">Classement</a></li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>
